<section class="block showcase">
  <div class="showcase__desc">
    <p>
      <strong> گروه صنعتی نماکاران </strong> مجموعه ای حرفه ای است که با نگاهی
      فرا تخصصی به هنر معماری در سال 1386 تاسیس شده است و در همین مدت کوتاه
      توانسته با ارائه مشاوره , طراحی و اجرا ی پروژه های مختلف ساخت و اجرای نمای
      ساختمان , خدمات ارزنده و شایسته ای را به مشتریان خود ارائه کند.
      <br />
      این گروه توانسته است با بهره گیری از دانش روز و با قابلیت طراحی و اجرای
      نما های مدرن از جمله کرتین وال , درب و پنجره آلومینیومی و سرامیک بهترین
      پیشنهادات را در سطح استاندارد های جهانی به مشتریان خود عرضه نماید
    </p>
  </div>
  <div class="showcase__brands">
    <h4 class="showcase__title">شرکای تجاری</h4>
    <div class="showcase__logos">
      <div class="first--brand">
        <img src="./images/1.png" alt="first brand" />
        <p>کسب گواهینامه استاندارد ملی توسط این مجموعه نشان دهنده این واقعیت</p>
      </div>
      <div class="second--brand">
        <img src="./images/2.png" alt="second brand" />
        <p>کسب گواهینامه استاندارد ملی توسط این مجموعه نشان دهنده این واقعیت</p>
      </div>
    </div>
  </div>
</section>
