<ul class="list social--icons">
  <li>
    <a href="#">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#icons8-facebook"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#icons8-instagram"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#icons8-facebook"></use>
      </svg>
    </a>
  </li>
  <li>
    <a href="#">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#icons8-whatsapp"></use>
      </svg>
    </a>
  </li>
</ul>
